body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: burlywood;
  overflow-x: hidden;

  main {
    position: relative;
    .interrupteurs {
      position: absolute;
      z-index: 2;
      display: flex;
      justify-content: space-evenly;
      top: 2vh;
      // background: blue;
      width: 100%;
      .bouton {
        &:nth-child(even) {
          background-color: beige;
        }
        cursor: pointer;
        padding: 5px 10px;
        margin: 5px;
        height: 5vh;
        width: fit-content;
        background-color: palegoldenrod;
        border-radius: 5px;
        border: none;
        outline: none;
        box-shadow: 2px 1px 2px wheat;
        transition: all 0.3s linear;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        text-transform: capitalize;
        &:hover {
          transform: scale(1.06);
          background-color: transparent;
          color: white;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          border: 1px solid red;
          box-shadow: 2px 1px 2px crimson;
        }
      }
    }
    .sky {
      display: none;
      background: #000;
      height: 100vh;
      width: 100vw;
      position: absolute;
      .stars {
        position: relative;
        background-color: goldenrod;
      }
      &.active {
        display: flex;
      }
    }
    @for $i from 1 through 200 {
      .stars:nth-of-type(#{$i}) {
        top: random($limit: 105) + vh;
        left: random($limit: 110) + vw;
        width: random($limit: 2) + px;
        height: random($limit: 3) + px;
        opacity: random($limit: 1) + 0.5;
      }
    }

    .montableau {
      position: absolute;
      top: 30%;
      right: 0;
      margin-right: 20px;
      border-collapse: collapse;
      border-spacing: 0;
      th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
      }
      td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
      }
    }

    // * création des classes pour le javascript class : "active" quand ces classes sont appelées le CSS fait apparaître les éléments voulus.
    // ! ici les astronautes
    .astronautes {
      display: flex;
      justify-content: space-evenly;
      width: fit-content;
      height: fit-content;
      padding: 10px;
      margin: 5px;
      border-radius: 5px;
      display: none;
      transition: all 0.3s linear;
      &.active {
        position: absolute;
        top: 55vh;
        display: flex;
        animation: goUp 2s ease-out 0.5s forwards;
        @keyframes goUp {
          from {
            transform: translateY(0);
          }
          to {
            transform: translateY(-60%);
          }
        }
      }
      p {
        font-size: 100px;
      }
    }
    // ! ici la notification du carburant
    .notif-carbu-ok {
      position: absolute;
      padding: 8px 6px;
      display: none;
      top: 20%;
      left: 10%;
      transition: all 1.5s linear;
      height: 10vh;
      width: 20%;
      background-color: green;
      border-radius: 5px;
      text-align: center;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      text-transform: uppercase;
      &.active {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    // ! ici la notification des passagers
    .notif-passagers-ok {
      position: absolute;
      transition: all 1.5s linear;
      padding: 10px;
      height: 10vh;
      width: fit-content;
      background-color: royalblue;
      border-radius: 7px;
      text-align: center;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      display: none;
      &.active {
        display: flex;
        top: 70vh;
        left: 10%;
      }
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    .container {
      height: 100vh;
      width: 100%;
      // ? l'élément principale la div fusée le parent
      .fusee {
        background: transparent;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 1s linear;
        &.active {
          opacity: 1;
        }
        &.decollage {
          animation: launch 3s linear 0.5s forwards;
          @keyframes launch {
            0% {
              transform: translate(2%, -3%);
            }
            20% {
              transform: translate(0%, -4%);
            }
            40% {
              transform: translate(-4%, -6%);
            }
            60% {
              transform: translate(0%, -15%);
            }
            80% {
              transform: translate(0, -80%);
            }
            100% {
              transform: translate(0, -100%);
            }
          }
        }
        &.atterissage {
          animation: landing 3s linear forwards;
          @keyframes landing {
            from {
              transform: translate(0, -100%);
            }
            to {
              transform: translate(0, 0);
            }
          }
        }
        // ! élément de la fusée
        .haut {
          opacity: 0;
          transition: opacity 0.25s linear, visibility 0.25s linear;
          &.active {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 50px 88px 50px;
            border-bottom-left-radius: 1px;
            border-bottom-right-radius: 1px;
            border-color: transparent transparent #063e7a transparent;
            opacity: 1;
            visibility: visible;
          }
        }
        // ! élément de la fusée
        .corpsfusee {
          display: flex;
          // ! élément de la fusée aile gauche
          .gauche {
            opacity: 0;
            transition: opacity 0.2s linear, visibility 0.2s linear;
            &.active {
              align-self: center;
              width: 0;
              height: 0;
              border-top: 40px solid red;
              border-left: 40px solid transparent;
              opacity: 1;
              visibility: visible;
            }
          }
          // ! élément de la fusée
          .centre {
            opacity: 0;
            transition: opacity 0.1s linear, visibility 0.1s linear;
            &.active {
              width: 100px;
              height: 200px;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              background: darkblue;
              opacity: 1;
              visibility: visible;
              position: relative;
              // ! élément de la fusée la fenêtre
              &:after {
                content: "";
                display: block;
                position: absolute;
                top: 35%;
                right: 50%;
                transform: translate(50%, -65%);
                height: 50px;
                width: 30px;
                border-radius: 50%;
                border: 5px solid whitesmoke;
                background: transparent;
              }
            }
          }
          // ! élément de la fusée aile droite
          .droit {
            opacity: 0;
            transition: opacity 0.2s linear, visibility 0.2s linear;
            &.active {
              align-self: center;
              width: 0;
              height: 0;
              border-top: 40px solid red;
              border-right: 40px solid transparent;
              opacity: 1;
              visibility: visible;
            }
          }
          position: relative;
        }
        // ! élément de la fusée
        .bas {
          opacity: 0;
          transition: opacity 0.15s linear, visibility 0.15s linear;
          &.active {
            opacity: 1;
            visibility: visible;
            position: absolute;
            top: 60vh;
            width: 0;
            height: 0;
            border-bottom: 80px solid rgb(190, 3, 3);
            border-left: 40px solid transparent;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-right: 40px solid transparent;
          }
        }
      }
    }
  }
}
